@font-face{
    font-family: "Sawasdee-Bold";
    src: url('Sawasdee-Bold.ttf');
}

html, body, .fill-height {
    height: 100%;
}

.logo {
    float: right;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.logo img {
    width: 150px;
}

.main-title {
    font-family: "Sawasdee-Bold", inherit;
}

.main-title img {
    width: 45px;
    position: absolute;
    right: 0px;
    top: 15px;
}

.red {
    color: #b10000;
}

.selected_tweets {
    height: 150px;
}
