{% extends "layout.html" %}
{% block controls %}
<form id="searchbox" action="/search" method="post">
    <div class="form-group">
        <label for="search">Search</label>
        <input name="search" type="text" placeholder="Type one or multiple terms" class="form-control" id="search" value="{% if search_query %}{{ search_query }}{% endif %}">
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="langs" value="en" {% if 'en' in langs %} checked {% endif %}>
                English
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="langs" value="fr" {% if 'fr' in langs %} checked {% endif %}>
                French
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="langs" value="de" {% if 'de' in langs %} checked {% endif %}>
                German
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="langs" value="it" {% if 'it' in langs %} checked {% endif %}>
                Italian
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="matching_method" id="matching_method2" value="match_any" {% if matching_method == 'match_any' %} checked {% endif %}>
                Match any
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="matching_method" id="matching_method1" value="match_all" {% if matching_method == 'match_all' %} checked {% endif %}>
                Match all
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="metric_type" id="metric_type1" value="metric_mean" {% if metric_type == 'metric_mean' %} checked {% endif %}>
                Mean of sentiment
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="metric_type" id="metric_type2" value="metric_count" {% if metric_type == 'metric_count' %} checked {% endif %}>
                Count of tweets
            </label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Search</button>
    </div>
</form>
{% endblock %}

{% block map %}

<iframe src="/map-test-{{ file_path }}.html" class="fill-height" style="display:block;" width="100%">iframe debug text between tags</iframe>

{% endblock %}

{% block stats %}
{% if selected_tweets|length > 0 %}
<div class="list-group pre-scrollable" style="height: 200px;">
    {% for _, tweet in selected_tweets.iterrows() %}
    <div class="list-group-item">
        <h4 class="list-group-item-heading">{{ tweet['geo_state'] }}</h4>
        <p class="list-group-item-text">{{ tweet['main'] }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
